exclude: 'Past_Conferences_and_Schools/' # ignores the unmaintained notebooks

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: detect-private-key
      description: "Check accidental private keys in code"
    - id: trailing-whitespace
      exclude_types:
        - "svg"
      description: "Remove trailing whitespaces"
- repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
  rev: v1.1.2
  hooks:
  - id: markdown-toc
    name: markdown-toc
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.14.5
  hooks:
    - id: ruff
      fail_fast: true
-   repo: local
    hooks:
    -   id: nbconvert
        name: nbconvert
        entry: python3 -m jupyter nbconvert --ClearMetadataPreprocessor.enabled=True --inplace
        language: system
        files: \.ipynb$
        require_serial: true