astroplan<=0.9, >=0.8
astropy>=5.2.*, <5.4
astroquery==0.4.*
ipyaladin>=0.2.2
MOCpy >=0.13.*, < 0.14.0
plotly>=5.14.0.a, <=5.16.1
pyvo>=1.4.1, <=1.4.2
regions==0.7
requests>=2.4.3
seaborn==0.12.*
specutils<=1.12.*, >=1.9.*