astroplan>=0.8
astropy>=5.2.0.a
pyyaml>=6.0.2
astroquery>=0.4.8
ipyaladin>=0.3.0
MOCpy>=0.15.0
matplotlib>=3.6
pandas>=2.0.3
plotly>=5.14.0.a
pyvo>=1.4.1
regions>=0.7
requests>=2.4.3
specutils>=1.9.0.a
