# This runs alls notebooks in the Notebooks folder
name: ubuntu

# Controls when the workflow will run
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
  # runs once a week
    - cron: '0 0 * * 1'
  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test-linux-oldest-allowed-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Setup python 3.9
        uses: actions/setup-python@v6
        with:
          python-version: 3.9
      - name: Install the project
        run: |
          uv pip install -r requirements.txt --resolution lowest-direct --system
          uv pip install -r requirements-dev.txt --system
      - name: Test
        run: |
          python -m pytest --nbmake -n=auto "./Notebooks"

  test-linux-newest-versions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          pip install -r requirements.txt
      - name: Test
        run: |
          pytest --nbmake -n=auto "./Notebooks"
